@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 23, 23, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.standart_style {
  @apply border-b border-gray-300 bg-gradient-to-b from-zinc-200 backdrop-blur-2xl dark:border-gray-600 dark:bg-zinc-800/30 dark:from-inherit static w-auto rounded-xl border bg-gray-200 p-4 dark:bg-zinc-800/30
}

.btn{
  @apply border-[1px] border-gray-300 dark:border-gray-600 p-4 m-2 rounded-xl hover:scale-105
}

input{
  @apply bg-transparent border-[1px] border-gray-300 dark:border-gray-600 py-1
}


.col {
  background-color: #70c9e5;
  color: #f7f7f7;
}

.col2 {
  background-color: #d5385d;
  color: #f7f7f7;
}

.skip {
  position: fixed;
  transition: all 3s;
  top: -400px;
}

.popUp {
  transition: all 3s;
  position: fixed;
  top: 100px;
  justify-content: center;
  align-items: center;
  margin: 10vw;
}
